<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="browser" value="CHROME"/>
   <test name="Compose and sent email Smoke">
       <parameter name="username" value="username"/>
       <parameter name="password" value="password"/>
       <parameter name="email_recipients" value="automatizationtester1@gmail.com"/>
       <parameter name="email_subject" value="This is the test mail for automatizationtester1"/>
       <parameter name="email_body" value="Some text inside the mail body for automatizationtester1"/>
       <parameter name="email_image" value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUQ9w2b5mfxHJ7E8n9eK_wXAJonkzdLOsX30qMhJAazDf6fGXd "/>
        <classes>
            <class name="kz.epam.atm.gmailtestPF.tests.GmailTest"/>
        </classes>
    </test>
</suite>
